In [1]:
#import the packages
import pandas as pd
import numpy as np
from pandas_datareader import data as pdr
from datetime import date
import yfinance as yf
yf.pdr_override()
import warnings
warnings.simplefilter(action='ignore', category=FutureWarning)
import ta

import random as rnd

yfinance: pandas_datareader support is deprecated & semi-broken so will be removed in a future verison. Just use yfinance.

In [2]:
today = date.today()
ticker1 = 'AAPL' 
start_date = '2023-01-02'
end = today
#df = pdr.get_data_yahoo(ticker1, start=start_date, end=today)
df = yf.download(ticker1, start=start_date, end=today)
df

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2023-01-03,130.279999,130.899994,124.169998,125.070000,123.768463,112117500
2023-01-04,126.889999,128.660004,125.080002,126.360001,125.045036,89113600
2023-01-05,127.129997,127.769997,124.760002,125.019997,123.718971,80962700
2023-01-06,126.010002,130.289993,124.889999,129.619995,128.271103,87754700
2023-01-09,130.470001,133.410004,129.889999,130.149994,128.795593,70790800
...,...,...,...,...,...,...
2024-12-20,248.039993,255.000000,245.690002,254.490005,254.490005,147495300
2024-12-23,254.770004,255.649994,253.449997,255.270004,255.270004,40858800
2024-12-24,255.490005,258.209991,255.289993,258.200012,258.200012,23234700
2024-12-26,258.190002,260.100006,257.630005,259.019989,259.019989,27237100
2024-12-27,257.829987,258.700012,253.059998,255.589996,255.589996,42317100